@-webkit-keyframes anim {
  0%   { -webkit-transform: translateY(10px) }
  50% { -webkit-transform: translateY(-10px) }
  100% { -webkit-transform: translateY(10px) }
}
@-moz-keyframes anim {
  0%   { -moz-transform: translateY(10px) }
  50% { -moz-transform: translateY(-10px) }
  100% { -moz-transform: translateY(10px) }
}
@-o-keyframes anim {
  0%   { -o-transform: translateY(10px) }
  50% { -o-transform: translateY(-10px) }
  100% { -o-transform: translateY(10px) }
}
@keyframes anim {
  0%   { transform: translateY(10px) }
  50% { transform: translateY(-10px) }
  100% { transform: translateY(10px) }
}

@-webkit-keyframes animbg {
  0%   { -webkit-transform: translateY(5px) }
  50% { -webkit-transform: translateY(-5px) }
  100% { -webkit-transform: translateY(5px) }
}
@-moz-keyframes animbg {
  0%   { -moz-transform: translateY(5px) }
  50% { -moz-transform: translateY(-5px) }
  100% { -moz-transform: translateY(5px) }
}
@-o-keyframes animbg {
  0%   { -o-transform: translateY(5px) }
  50% { -o-transform: translateY(-5px) }
  100% { -o-transform: translateY(5px) }
}
@keyframes animbg {
  0%   { transform: translateY(5px) }
  50% { transform: translateY(-5px) }
  100% { transform: translateY(5px) }
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  overflow: hidden;
  font-family: 'BebasNeueRegular', arial, sans-serif;
  background: white;
}

#global {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: url('bg.jpg') no-repeat center center fixed;
  overflow: hidden;
  text-align: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: animbg 3s ease-in-out infinite;
  -moz-animation: animbg 3s ease-in-out infinite;
  -o-animation: animbg 3s ease-in-out infinite;
  animation: animbg 3s ease-in-out infinite;
}

#title {
  position: absolute;
  top: 5%;
  right: 0;
  bottom: 5%;
  left: 0;
  z-index: 1;
  background: url('title.png') no-repeat center top;
  -moz-background-size: auto 50%;
  -webkit-background-size: auto 50%;
  -ms-background-size: auto 50%;
  -o-background-size: auto 50%;
  background-size: auto 50%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: anim 3s ease-in-out infinite;
  -moz-animation: anim 3s ease-in-out infinite;
  -o-animation: anim 3s ease-in-out infinite;
  animation: anim 3s ease-in-out infinite;
}

#menucontainer {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 10%;
  left: 0;
  z-index: 2;
}

#menu {
  position: relative;
  display: block;
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-size: 2em;
  font-family: 'BebasNeueRegular', arial, sans-serif;
  text-transform: uppercase;
  color: #4190bb;
}

#menu div {
  padding: 0.1em 0 0 0;
  margin: 0 0;
  cursor: pointer;
  -moz-text-shadow: 0 0 10px rgb(255,255,255);
  -webkit-text-shadow: 0 0 10px rgb(255,255,255);
  text-shadow: 0 0 10px rgb(255,255,255);
  -webkit-transform-origin-y: 50%;
  -webkit-transition: -webkit-transform 0.2s;
  -webkit-transform: translateZ(0px) scaleY(0.8);
  transform-origin-y: 50%;
  transition: transform 0.2s ease;
  transform: translateZ(0px) scaleY(0.8);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 40%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(40%,rgba(255,255,255,0.5)), color-stop(60%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(255,255,255,0) 100%); /* W3C */
}

#menu div:hover {
  color: #f66439;
  -webkit-transform: scaleY(1.0);
  transform: scaleY(1.1);
}

#start {
  font-size: 1.8em;
  color: #f66439;
}

#start:hover {
  color: #f8854b !important;
}

#step-2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  vertical-align: bottom;
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 2em;
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: 60% auto;
  -webkit-background-size: 60% auto;
  -ms-background-size: 60% auto;
  -o-background-size: 60% auto;
  background-size: 60% auto;
}

#step-3 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
}

#step-3 #progressbar {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  width: 0%;
  background: white;
}

#step-5 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  text-align: center;
  padding: 100px 20px;
  color: white;
  font-size: 2em;
}

#step-5 #time {
  font-size: 4em
}

#leapinfo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  color: white;
  text-align: center;
  font-size: 3em;
  padding-top: 200px;
  z-index: 999999;
}

#credits {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: black;
  overflow-y: auto;
  text-align: center;
  color: white;
  font-size: 1.1em;
  padding: 40px 20px;
}

#credits h3 {
  font-size: 2em;
  color: #666;
}

#credits b {
  font-size: 1.2em;
  color: #bbb;
}

#credits h4 {
  color: #555;
  font-size: 1.2em;
}
